{% extends "base.html" %}
{% block title %}MOOSIC{% endblock %}

{% block content %}


<div class="main-content-project">

    <h1>MOOSIC - Capstone Project</h1>

    <div class="intro">
        <p>
            <strong>MOOSIC</strong> was created in the course of a capstone project at the IT school neuefische
            Hamburg. We - Christian, Grace and Shahi -
            formed a team with the goal to build an alternative music recommendation system.
            With our common love for music, joy for creative work and no shyness for challenges, we planned and
            implemented this project.
        </p>
    </div>

    <div class="project-description">
        <p>
            <strong>How did we come up with our project idea?</strong>
            <br>
            We were talking about how unsatisfied we are with the music recommendations we get from Spotify or other
            music streaming platforms.
            When we talked about why we don’t like the recommendations we figured out, that the same songs were
            proposed partly repeatedly or the tracks didn’t
            fit the mood we were in or the activity we were engaged in.
            By thinking of ways how to tackle these problems we came to the conclusion, that it would be nice to
            have some kind of user input, to make the track
            recommendations fit the user preferences. We then pinpointed the two features mood and genre to act as
            filters for better predictions.
            <br>
            <br>
            <br>
            <strong>Why did we go with these two features mood and genre?</strong>
            <br>
            The problem with music recommendations at present is that the recommended tracks often times don’t fit the listeners mood. 
            For example Spotify uses a complex system of a variety of factors to personalize the listening experience for each user. 
            These factors include the user's listening history, their favorite songs and artists, and the genres and playlists they listen to. 
            The problem is, that mood isn’t tracked. And it’s the most human thing to change moods over the course of time - be it days or hours. 
            So, when we are sad on one day for example and listen extensively to sad songs, the algorithm is bound to recommend these songs again to the user, 
            even if the user isn’t in a sad mood any more.
            <br>
            <br>
            <br>
            <strong>But why is it so important, that music fits our mood?</strong>
            <br>
            Participants of a study¹, conducted by British psychologists, responded that they use music to express emotions and manage their mood. 

            They used music:<br>
            “To put them in the mood they want to be in”, - like feeling sad and wanting to feel better<br>
            “To get them into a certain mood or feel a certain way”<br>
            “To put them in a particular mood or get them out of a particular mood”<br>
            And<br>
            “To put them in the mood for something” like learning or working out.<br>

            So music becomes a tool for us to manage our moods.<br>
            <small>
                ¹Source: Why do we listen to music? A uses and gratifications analysis by Adam J. Lonsdale and Adrian C. North, p.120. 
                Published in: British Journal of Psychology (2011), p.102, pp.108–134
            </small>

        </p>
    </div>

    <div class="team">
        <p>
            <img src="../static/images/grace_avatar.png" class="grace">
            <strong>Grace</strong> is a graduate Industrial Mathematician, applied Research Scientist and Data
            Practitioner (Data Analyst/Scientist).
            <br>
            <img src="../static/images/chris_avatar.png" class="chris">
            <strong>Christian</strong> is a Data Practitioner (Data Analyst/Scientist).
            <br>
            <img src="../static/images/shahi.png" class="shahi">
            <strong>Shahi</strong> is a Data Practitioner (Data Analyst/Scientist) and Web Developer.
        </p>
    </div>

</div>

{% endblock %}