{% extends "base.html" %}
{% block title %}MOOSIC{% endblock %}

{% block content %}
<header class="page-header header container-fluid">

    <div class="description">

        <h1>Welcome to MOOSIC!</h1>
        <p>The engine that suggests music based on your mood.</p>

        <button class="btn btn-outline-secondary btn-lg">
            <a href="try-me.html">Try me!</a>
        <!--<a href="try-me.html" button class="btn btn-outline-secondary btn-lg" role="button">Try me!</a>-->
        </button>

    </div>

</header>
{% endblock %}   